div.soo_weather_mini,ol.soo_weather_mini, ol.soo_weather_mini>li
{
	list-style:none;
	margin:0;
	padding:0;
	position:relative;
	height:175px;
}
ol.soo_weather_mini ul, ol.soo_weather_mini li
{
	margin:0;
	padding:0;
	list-style:none;
}
ol.soo_weather_mini,
ol.soo_weather_mini>li>ul>li,ol.soo_weather_mini>li>ul>li.soo_weather_mini_icon>i
{
	box-sizing: border-box;
	width:100%;
}
ol.soo_weather_mini>li
{
	width:14.285%;
	font-size:80px;
	text-align: center;
	float:left;
	overflow:hidden;
	margin-left:-1px;
	border-left: solid 1px #eeeeee;
	color:#616161;
}
ol.soo_weather_mini>li:first-child
{
	border-left: none;
	margin-left:0;
}
ol.soo_weather_mini>li>ul>li.text
{
	display:block;
	font-size:11px;
	padding:2px 0;
}
ol.soo_weather_mini>li  .soo_text_hide
{
	font-size:0px;
	text-indent:-1000pt;
}
ol.soo_weather_mini,ol.soo_weather_mini:after
{
	clear:both;
}
ol.soo_weather_mini:after
{
	content:" ";
}
.soo_weather_footer
{
	color:#5e5e5e;
	font-size:11px;
	text-align: center;
	margin:5px 0;
	padding:5px;
}
.soo_weather_footer>address
{
	display:inline;
	font-style:normal;
}
@media screen and (max-width: 600px) {
	div.soo_weather_mini,ol.soo_weather_mini, ol.soo_weather_mini>li
	{
		height:140px;
	}
	ol.soo_weather_mini>li
	{
		font-size:40px;
	}
	ol.soo_weather_mini>li>ul>li.text
	{
		font-size:10px;
	}
}